.profileAvatar {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCaV7ugF_Ac5_WGmEMT3oJz8XMgG3Z5fmOomURFYidoLH3VQi12EDr71KRfqON7vS90K1iSf6Nd7lEXesg298TfDJ4M07i_fHCqsWix728YAB2Z9pnL2L_nOv37xHhrpNvy8-AbSu5yZQMQL4F5w1TPgXWAyZQGgmQRCbxn0XRVEtM2agXRi67c8f4Z3tc1Xh7TO4hRBfmPYkZKYXSvtaFCEZGEC_kHWmw-PMpPto98KBrMf4I12YPRmCXj7b65nbHydQphAm3hJyFe");
}
