.avatarImage {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBS2F6lS9QDm2PyGEgh6d31qKhHMiVDG5Vdnn0Ge-jkZeXRP1TTUxxiPzlMwHLx4hF-QP3LcmmvHcjYWshrhhsLS77-JOOWSpr9QZTMFeaIKxiM1uL0D-QPvD7IgA1u6zEGRaH_QCBRBw5pT6sQdzcpaRrAgOc8_JHKEsrv03OFAEPm15BsMkIB7uYbB6eWADGx70zWYLp33hWY45na1VFwgBkonx4d0iq9gmqksZYlxuyhodhprJrXq-wFmn5IG3nlTTbE1xnXurAb");
}

.bookingImagePlumbing {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD_Bjc0LOSOimWF8B-wl49x2DDeJdpTpAfhEbMBxeTyTx2Ry7D17-IDzGXbcvUKYf9uPoi8H_PQT8RAwuLUBgQAg-fKknBQrXbtbKxFbkh9RgaxdBHEsQxqE8dneYPma9EQEsi7Md-2sLwIA1tVF553U1lI4Dq3cZYp-_bzwt4DmcjbaKIsmu2yicZE13plZxMV0igwyWIZP0mikA0R9t99H1c6mUMrUo0bh5aVcJcKEd5K8xNGZYQJlqr8ulfz-c7XTNt1bzL2ELfm");
}

.bookingImageFurniture {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAtjlTcT1Nci9aHF_Ikc_M-rOhibs9OOv1uCf9UPTLoa298kp8Lhre0c6kNNy6sgppUEp_I3ykXhx_ZhS5suiBKIS-tlvrWkBMaJXXBd0jiEeneLHwa8JBTO4O_SZkiTymfO2v_qBlWDuiOT3f1ZuPbtzCj6aq45Lg4mIlbPwTPYwkDRU8sujOYcRXYCy4RaC5oUJSndpRZX81JtJhWnV7dy1oZGvQDhdJVB0ucYNg1VnHywsee8fkPvR-bN8GWX0OEIaIZeKtP8yvh");
}

.proCardBgElectric {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCgUl87WECGb7Y1d2tWXI9jEByRIiil0VUMBk44Y9Ov_XUnz1My4Qg3zsEDEVORWusTy8gDW27OhQ0-oh25IjZWftywzqGg9iK5_ose5GthHVP0vD1kFi0DlYxNm049VCBtj4jLA066-Uy0lHztzljPTDQA0pAQtg7prnlAYTBwQ2fXrW30-ld1LudPyAlXUBe5CM-FABERYLc5KqR_UzIOMvKYF7XI8ZMI8VP_EVGpinAnos3IjK8JG5MwdkoNlhgkAJxpqw3b0-_2");
}

.proAvatarMark {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCATpKLy8-zhu4sM6Nw1fI8KPMYEcWtxN2_vBARBh1hV9YlhiSBV9qDP843lwtHhjFSWiPsEkuMmDTEibtL6e9NA0MR8t5Nxl9MSNuIn0_gPZghk47Pn6TAIsSJGPdLImZKGXcQnauu3DCe0CAtViyVmxOeQAYqas1BpC9hjI-zJCzjBPa7XGWDoCGyja8q5VflNgtsc9MMOzNbVlvW1Ohol3ecR12jghnwqgqJmyvPQUAnwtNaZT5GGoONtt6FzaLdsvXDl8ae6l9Q");
}

.proCardBgWood {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB_CwFQhejy4xJu3ytu3WlLf3feulnWNzUKVKdu6_MpF6mWVYluQQrMsEztSKg1s-HWpWO3XoYYKj7vlzWgFAibmUQewckgyM07jY2q8T8k__TiEJDsnXH84Zt0R9zNBQvrHrsCqm_EQsathLnoWLYwkkzRBNjKEqmdjKWj3951Q7uN9HmeeEEWfBqaQDjxgYSNM7nRgoAjnZHCTnDlFZEnvutAfoHasW81EtHrfpOhlE7I1DDa6FuoDYPXWAewMwV6ymTYAFC-U9pn");
}

.proAvatarDavid {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCduJmwUq8g99BtJLmVASH5v__KVRxKPdKaJWgsmSPGIfaTph4EcWrWKEeLfhIeehkplT60MtghDidjDt0W1ZqvJyjK-yZITusp0QETJAWQmIoKpAxea_e6qBUpdOY8Q33KZCSrVNeDOBqdwWzzb_-iQc-GeiTba-ld5Qd6ekk3Tlua3a5BN-3f31r0xeVWCskdaRL6jYkYHTzc5BpBk6mWyGAyb8E9ZdWNXoZyjpNNGcdIWgRw3cjT-1to9E0jRV8Lj1WYDPEgN8_f");
}

.proCardBgLeaves {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCjeLzD7ZZ3ovpiwi3GKL2T7O-caIbPJYoR7W3JZ-WlwfIntSlBkaC7hqwpVNVsY28YzdbsK-KXfVm3JaZBJVs04V1CCmG9nE0SJTcOENK9JR6icCNStNfP15yW7zFVZUn9Zhfxi11QoQUmrPSK9VVk1jNPtszzlbHZQ1_xaakfOrhrm4-Hd-b9RSfI2GKh5_yzz8aFOGafyP6WxSu0Sk3Wf2BojEgQNA9_fd505Bs2c9bTh7CeToQeaeBid70339cl-Z2AEBzUQ01y");
}

.proAvatarEmily {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBlLWfLCFQRHMWw9MgWJCcMyckdpT67Ueqr-SjLGEy-PXSLtdTT_N-QRpW1Xh_a8yywnArCo4G7IAXYIG4auUQjMRK3S9OPDfdbBouVCfucK9__K5adY64g1Hri2ahPdrtq6Hl5YGSOOHvVgKbqfbE64PI5bdj7vP3N2A1vpHqcdwKY_0TBP0KjpxNxqfyDqC3qhDiRrVG8x6UVVwIh48lY0TsU79DLKY3emXwwl61ksl_AlEalgfuxzCcyMYkBsIuNTC486AeY6hTj");
}

.proCardBgPaint {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD-vYMN6LB2DPUVA3Kc-St4jxhjhXpCXjH5M-7bDgN9K9YZ7HzqZxxv15XJegM_dncrRjsRv6-A8WNiltMWwll8Sc6Q7bS8A5jztXVm6NtLCQrtw8nxC91oI4jcWQqzpYM_D1hlmgnhzOPc1v_o248wp9_MY_V2Wx2JJiJAzlj8XFYjd12YE3dHcjKY0fuIwF0mDiIuzj-bb1h2g1BHo-3Vtvu335fGqpV6OUU5Inw6wlsGYO53Mam5zxdN2jY_ObqTr2Q8NJkQnld7");
}

.proAvatarJohn {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCRaCXbpbvB15ktaLmFsedyLsuq-4lBVJd0xdSoAcjKPqAnPJFCDnopC2zUd3IdV2mXz2L_k5cMODZ7Oh8wAKZSW-grbf4hYmQK13tt8osW5T0zEoEC-2vJBSsW0q0RsM2kn_eMjtqyXNYnCqdj1QHllUyQQEllZLgwMPNu2knv8iMusDce1ts1212K_ubOLX1BEPV3y7TEdy20TCGH_dO6OsMQVF2agrPoAmivxJWCT3pOAR92TjYbPhbaKHSF3tDRTfeM_in7PVbu");
}
