.requestAvatarAlice {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBbqNXOOAMUlpR0xyZGqxWg71x4TopQljdbRR39MMGekCHfei6puAYzaQbSDGwBODMghljQqVyQfmXD4YC-20aHJMc-1pfIp6I1h5b0nepExr_o2FH1cF567AMmAbx4Ed7CzMfw7n8lGg1b7EsHhYi7uanEDXZDo7shSIoy5LJW_dBFIH2_y_L8rOUwp_yBhSXW6o0udxDmdHtnn0e3tr57V2toHeyCEVHsvMzYSZ4_GoJrYvnj6zzNgNBlJmRRVWLoLKWuQCcIFmvJ");
}

.requestAvatarBob {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC55j9FflqX9aH9TjKqJeq3BpBgaero6potVFw-V6-Ygtd2MKZ1VmqTyAcQ2m4BWDq6yB1y4ooJab7dXx0w-h4i71v_CqggG5U552kfewugJdKxAigLfHgS8t5WxSZLnRN5RA5vmnrA6jr687iKnI3sa0PB2QJJ0aWr8y496yBfe-I-r5voj0Or7keSSFa-NRCk3MUcyFvVj7Sl4iEYRy2pHx9yCai4-Rx6CF4Pp5eNqVV8eqWh7E7xYLDGgmMOnI7PTV5FswW3aih2");
}

.requestAvatarClara {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC9Vb3TThIFbx8KlSJBZWkVJV4ZRkzqE27Yi5phRKGII8Wm39HfxaMfDWxEI0qbtDB8iSZlIPloWD1dnEFEVX2bNEpiQiPFrJij1qW6iA_6TZd0DQwH9NpjI3_oJRe4aw65YPI425DByW8c3bbaMP-f4nCmcd2rr77TtoEYgxtyooyeFpuSMFtcfO-q3dcO8EhFBcKxsdfpYf63QvfHCaeMj8mnGtLAGIAyB2mbGgxH92ThmshQeNyYF18JkkYNn4rAMJLq9xBxF3Cc");
}

